{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">编辑用户</h3>
				</div>
				<div class="panel-body clearfix">
					<form method="post" action="" class="clearfix" novalidate>
						{% csrf_token %}

						{% for field in form %}
							<div class="form-group">
								<label>{{ field.label }}</label>
								<!-- <input type="text" class="form-control" placeholder="请输入用户名" name="user"> -->
								{{ field }}
								<span style="color: red">{{ field.errors.0 }}</span>
							</div>
						{% endfor %}
							<div class=""></div>
						<div class="">
							<button type="submit" class="btn btn-primary">提 交</button>
						</div>

					</form>
				</div>
			</div>
	</div>

{% endblock %}